@import '/src/scss/utilities/mixins';
@import url(//db.onlinewebfonts.com/c/22666f3327d67d77b16655c5a673bad2?family=FrontageCondensed-Bold);
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1;0,500;1,700;1,1000&display=swap');

header{
    width: 100%;
    height: 12vh;
    
    @include flex( row , wrap , space-between , center);
    background: #363636;

      h1{
        color:#FFFFFF;
        font-family: FrontageCondensed-Bold;
        color: white;
        font-size: 35px;
        text-align: center;
        
      }

    nav{
      z-index: 1;

      @include media(){
        width: 100%;
        // display: none;
        opacity: 0;
        height: 0vh;
        pointer-events: none;
        overflow: hidden;
        transition: all .5s ease;
        @include flex( column , nowrap , center, center);

      }

      ul{
        @include flex( row , wrap , flex-end , center);

        @include media () {
          flex-direction: column;
          width: 100%;
        }
        margin-inline-start: auto;
        li{
          margin: 0.5em;
          display: inline;
          padding-left: 10px;
          padding-right: 10px;
          @include media(){
            margin: 1em 0;
          }
          a{
            font-family: Sofia Sans Semi Condensed;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: bolder;
            text-decoration: none;
          }
          img{
            width: 180px;
            height: 100px;
          }
        }
      }
      li:hover{
        background-color: white;
        border-radius: 3px;

        a:hover{
          color: black;
        }
      }

    }
}
